button {
    color: white;
    border: none;
    padding: 20px;
    border-radius: 10px;
    width: 150px;
    font-size: 20px;
}

button:hover {
    border: 2px solid white !important;
}

h1 {
    color: white;
    font-family: sans-serif;
    -webkit-text-stroke: 2px black;
    font-size: 40px;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#random {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}